.main-icon {
  padding-right: 5px;
  vertical-align: text-bottom;
}

.main-app-toolbar {
  align-items: center;
  position: static;
  top: 0;
  z-index: 999;
  color:antiquewhite;
  text-shadow: 2px; 
}

.main-app-toolbar:hover{
  color:chartreuse;
}
